*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
.br3{
    border: 30px solid orange;
  border-image:
   url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwOcu0d-p0ZCGhGRSZBu-8lIAoW-MmGCQtMolBKFndj_Y80J7lMw");
   border-image-slice:100;
   border-image-width:70px 72px 92px 78px;
   border-image-outset:20px;
 }
 .bitmap{
    width:350px;
    margin: 30px;
    padding: 20px;
    height:400px ;
  }
.bitmap img{
    width:250px ;
    height:300px ;
}