*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

.box_box1{
    border-radius:5px ;
    border:10px solid black ;
    text-align:center;
    background-color: aqua;
    height:500px ;
    width:550px ;
    padding:30px ;
    


}
.box_box1 img{
height:400px ;
width: 400px;
align-items: center;
}